.pList{
    width:100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap:10px;
}
.pListItem{
    overflow: hidden;
    cursor:pointer;
    border-radius: 10px;
}
.pListImage{
    height:150px;
    width: 100%;
    object-fit: cover;
}
.propertyTitles>h1{
    font-size: 18px;
}
.propertyTitles>h2{
    font-size: 14px;
    font-weight: 300;
}
